{% extends "base.html" %}

{% block assignment %}
<!--    Name: Bryant Hanks
        Assignment: CS336 Assignment #8
        Created:11/27/2022
        Description: activities outside of the conference -->
{% endblock %}

{% block head %}
    <meta name = "keywords"
          content = "activities, outside"/>
    <meta name = "description"
          content = "List of things to do that are not part of the conference"/>
    <meta http-equiv = "author"
          content = "Bryant Hanks"/>
    <meta name = "robots"
          content = "nofollow"/>
    <meta charset="UTF-8">
    <title>Other Activities</title>
    <link href="static/css/webdefault.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <ul>
      <li>Water World</li>
      <li>Denver Museum of Nature and Science</li>
      <li>Denver Zoo</li>
      <li>denver Aquarium</li>
      <li>Bowling</li>
      <li>Denver Broncos Games</li>
    </ul>
    <iframe width="640" height="360"
            src="https://www.youtube.com/embed/cuvD4EeY2NU"
            title="Top 10  ATTRACTIONS and THINGS TO DO in Denver Colorado"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
{% endblock %}
