{% extends "base.html" %}

{% block assignment %}
<!--    Name: Bryant Hanks
        Assignment: CS336 Assignment #8
        Created:11/27/2022
        Description: Home page for the conference -->
{% endblock %}

{% block head %}
    <meta name = "keywords"
          content = "training, conference, development"/>
    <meta name = "description"
          content = "This is the homepage for the Training Conference"/>
    <meta http-equiv = "author"
          content = "Bryant Hanks"/>
    <meta name = "robots"
          content = "nofollow"/>
    <meta charset="UTF-8">
    <title>Training Conference</title>
    <link href="static/css/webdefault.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <h1>
      Training Conference Extravaganza!
    </h1>
      <p>This training conference will help and develop the skills required to be successful in a corporate environment.
        <br>The necessary skills that we will be covering and are necessary to be successful are:<br>
        Effective Communication, Project Planning & Managing, and Work-Life Balance.<br>
        Without these skills you are setting yourself at a disadvantage to learn hard lessons that you don't need to<br>
        learn the hard way. The lessons learned from this conference are transferable to any job you will have <br>
        in your future. Thank you for visiting our website, and we cannot wait to see you here!<br>
        <br>
        Date of Conference: December 14th 2022<br>
        <br>
        <img src="static/img/meeting.jpg" alt="Training Conference" width="500" height="313" />
      </p>
      </hr>
{% endblock %}