<!DOCTYPE html>
<!--    Name: Bryant Hanks
        Assignment: CS336 Assignment #10
        Created:12/11/2022
        Description: creating nametags to print -->
<html lang="en">
<head>
    <meta name = "keywords"
          content = "Name, tags, nametags"/>
    <meta name = "description"
          content = "page for creating nametags"/>
    <meta http-equiv = "author"
          content = "Bryant Hanks"/>
    <meta name = "robots"
          content = "nofollow"/>
    <meta charset="UTF-8">
    <title>Name Tag Creator</title>
    <link href="static/css/nametags10.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class ="page">
        <div class="row">
            <div class="nameTag"><p>Jill Jackson</p><p>Web Developer</p><p>Regis University</p><p>Denver, CO</p></div>
            <div class="nameTag"><p>John Smith</p><p>IT Manager</p><p>Really Big Company</p><p>Denver, CO</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Lucy Robertson</p><p>Senior Developer</p><p>Walmart</p><p>Bentonville, AR</p></div>
            <div class="nameTag"><p>Benjamin Reyes</p><p>Quality Control Lead</p><p>Quality Is Us!</p><p>Austin, TX</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Ada Lovelace</p><p>Mathematician</p><p>Regis University</p><p>Denver, CO</p></div>
            <div class="nameTag"><p>Bill Gates</p><p>Computer Programmer</p><p>Microsoft</p><p>Redmond, WA</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Corrinne Yu</p><p>Game Programmer</p><p>Naughty Dog</p><p>Santa Monica, CA</p></div>
            <div class="nameTag"><p>Donald Knuth</p><p>Professor</p><p>Stanford University</p><p>Standford, CA</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Audrey Tang</p><p>Software Programmer</p><p>Pugs Project</p><p>San Jose, CA</p></div>
            <div class="nameTag"><p>Jill2 Jackson</p><p>Web Developer</p><p>Regis University</p><p>Denver, CO</p></div>
        </div>
    </div>
    <div class ="page">
        <div class="row">
            <div class="nameTag"><p>John2 Smith</p><p>IT Manager</p><p>Really Big Company</p><p>Denver, CO</p></div>
            <div class="nameTag"><p>Lucy2 Robertson</p><p>Senior Developer</p><p>Walmart</p><p>Bentonville, AR</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Benjamin2 Reyes</p><p>Quality Control Lead</p><p>Quality Is Us!</p><p>Austin, TX</p></div>
            <div class="nameTag"><p>Ada2 Lovelace</p><p>Mathematician</p><p>Regis University</p><p>Denver, CO</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Bill2 Gates</p><p>Computer Programmer</p><p>Microsoft</p><p>Redmond, WA</p></div>
            <div class="nameTag"><p>Corrinne2 Yu</p><p>Game Programmer</p><p>Naughty Dog</p><p>Santa Monica, CA</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Donald2 Knuth</p><p>Professor</p><p>Stanford University</p><p>Standford, CA</p></div>
            <div class="nameTag"><p>Audrey2 Tang</p><p>Software Programmer</p><p>Pugs Project</p><p>San Jose, CA</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Jill3 Jackson</p><p>Web Developer</p><p>Regis University</p><p>Denver, CO</p></div>
            <div class="nameTag"><p>John3 Smith</p><p>IT Manager</p><p>Really Big Company</p><p>Denver, CO</p></div>
        </div>
    </div>
    <div class ="page">
        <div class="row">
            <div class="nameTag"><p>Lucy3 Robertson</p><p>Senior Developer</p><p>Walmart</p><p>Bentonville, AR</p></div>
            <div class="nameTag"><p>Benjamin3 Reyes</p><p>Quality Control Lead</p><p>Quality Is Us!</p><p>Austin, TX</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Ada3 Lovelace</p><p>Mathematician</p><p>Regis University</p><p>Denver, CO</p></div>
            <div class="nameTag"><p>Bill3 Gates</p><p>Computer Programmer</p><p>Microsoft</p><p>Redmond, WA</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Corrinne3 Yu</p><p>Game Programmer</p><p>Naughty Dog</p><p>Santa Monica, CA</p></div>
            <div class="nameTag"><p>Donald3 Knuth</p><p>Professor</p><p>Stanford University</p><p>Standford, CA</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Audrey3 Tang</p><p>Software Programmer</p><p>Pugs Project</p><p>San Jose, CA</p></div>
            <div class="nameTag"><p>Jill4 Jackson</p><p>Web Developer</p><p>Regis University</p><p>Denver, CO</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>John4 Smith</p><p>IT Manager</p><p>Really Big Company</p><p>Denver, CO</p></div>
            <div class="nameTag"><p>Lucy4 Robertson</p><p>Senior Developer</p><p>Walmart</p><p>Bentonville, AR</p></div>
        </div>
    </div>
    <div class ="page">
        <div class="row">
            <div class="nameTag"><p>Benjamin4 Reyes</p><p>Quality Control Lead</p><p>Quality Is Us!</p><p>Austin, TX</p></div>
            <div class="nameTag"><p>Ada4 Lovelace</p><p>Mathematician</p><p>Regis University</p><p>Denver, CO</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Bill4 Gates</p><p>Computer Programmer</p><p>Microsoft</p><p>Redmond, WA</p></div>
            <div class="nameTag"><p>Corrinne4 Yu</p><p>Game Programmer</p><p>Naughty Dog</p><p>Santa Monica, CA</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Donald4 Knuth</p><p>Professor</p><p>Stanford University</p><p>Standford, CA</p></div>
            <div class="nameTag"><p>Audrey4 Tang</p><p>Software Programmer</p><p>Pugs Project</p><p>San Jose, CA</p></div>
        </div>
        <div class="row">
            <div class="nameTag"><p>Bryant Tang</p><p>Software Programmer</p><p>Pugs Project</p><p>San Jose, CA</p></div>
            <div class="nameTag"><p>kayla Tang</p><p>Software Programmer</p><p>Pugs Project</p><p>San Jose, CA</p></div>
        </div>
<!-- 39 second if -->
        <div class="row">
            <div class="nameTag"><p>johnny Tang</p><p>Software Programmer</p><p>Pugs Project</p><p>San Jose, CA</p></div>
            <div class="nameTag"><p></p><p></p><p></p><p></p></div>
        </div>
    </div>
</body>
</html>