{# <!--    Name: Bryant Hanks #}
{#        Assignment: CS336 Assignment #10}
{#        Created:12/11/2022 #}
{#        Description: navigation --> #}


        <li><a href="{{ url_for('index') }}">home</a></li>
        <li><a href="{{ url_for('awards') }}">awards</a></li>
        <li><a href="{{ url_for('activities') }}">activities</a></li>
        <li><a href="{{ url_for('meals') }}">meals</a></li>
        <li><a href="{{ url_for('keynote') }}">keynote</a></li>
        <li><a href="{{ url_for('workshopschedule') }}">workshop schedule</a></li>
        <li><a href="{{ url_for('registration') }}">registration</a></li>
        <li><a href="{{ url_for('login') }}">login</a></li>
