{% extends "base.html" %}

{% block assignment %}
<!--    Name: Bryant Hanks
        Assignment: CS336 Assignment #10
        Created:12/11/2022
        Description: template html page -->
{% endblock %}

{% block head %}
    <meta name = "keywords"
          content = "key, words, here"/>
    <meta name = "description"
          content = "put desciption here"/>
    <meta http-equiv = "author"
          content = "Bryant Hanks"/>
    <meta name = "robots"
          content = "nofollow"/>
    <meta charset="UTF-8">
    <title>Put A Title Here</title>
    <link href="static/css/webdefault.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
{% endblock %}