{% extends "base.html" %}

{% block assignment %}
<!--    Name: Bryant Hanks
        Assignment: CS336 Assignment #10
        Created:12/11/2022
        Description: Schedule for the workshop -->
{% endblock %}

{% block head %}
  <meta content="schedule, work, workshop"
        name="keywords"/>
  <meta content="Detailed Schedule of Conference Workshop"
        name="description"/>
  <meta content="Bryant Hanks"
        http-equiv="author"/>
  <meta content="nofollow"
        name="robots"/>
  <meta charset="UTF-8">
  <title>Schedule</title>
  <link href="static/css/webdefault.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
  <table class="scheduletable">
    <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Session</th>
      <th scope="col">Workshop Title</th>
      <th scope="col">Speaker</th>
      <th scope="col">Room</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Day 1</td>
      <td colspan="5"></td>
    </tr>
    <tr>
      <td></td>
      <td>Session 1</td>
      <td colspan="4"></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Effective Listener</td>
      <td>Mr. A</td>
      <td>Room A</td>
      <td>1:00 p.m. - 3:30 p.m.</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Difficult Conversations</td>
      <td>Ms. B</td>
      <td>Room B</td>
      <td>1:00 p.m. - 3:30 p.m.</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Different Personalities</td>
      <td>Mrs. C</td>
      <td>Room C</td>
      <td>1:00 p.m. - 3:30 p.m.</td>
    </tr>
    <tr>
      <td></td>
      <td>Session 2</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Effective Tools</td>
      <td>Mr. A</td>
      <td>Room A</td>
      <td>9:00 a.m. - 12:00 p.m.</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Proper Planning</td>
      <td>Ms. B</td>
      <td>Room B</td>
      <td>9:00 a.m. - 12:00 p.m.</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Value of Project Management</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Effective Tools</td>
      <td>Mrs. C</td>
      <td>Room C</td>
      <td>9:00 a.m. - 12:00 p.m.</td>
    </tr>
    <tr>
      <td>Day 2</td>
    </tr>
    <tr>
      <td></td>
      <td>Session 3</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Benefits of a Balanced Life</td>
      <td>Mr. A</td>
      <td>Room A</td>
      <td>1:00 p.m. - 3:30 p.m.</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Techniques to Balance Life</td>
      <td>Ms. B</td>
      <td>Room B</td>
      <td>1:00 p.m. - 3:30 p.m.</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Personal Life Management</td>
      <td>Mrs. C</td>
      <td>Room C</td>
      <td>1:00 p.m. - 3:30 p.m.</td>
    </tr>
    </tbody>
  </table>
{% endblock %}